html,
body,
main,
#app,
.page {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #121212;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
